body{
    margin: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}

.header{
    background-color: rgb(79, 16, 24);
    color :rgb(153, 175, 196);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}
.names{
    margin-left: 20px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.forms{
    justify-items: right;
    margin-right: 10px;
    text-align: center;
    text-decoration: underline;
}

.slideshow{
    position: relative;
    max-width: 800%;
    padding: 20px auto;
    background-color: rgb(157, 164, 157);
}
.viewport{
        overflow: hidden;
        width: 100%;
}
.pics{
    display: flex;
    transition: transform 520ms cubic-bezier(.22,.9,.34,1);
    will-change: transform;
}
.pic{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transform-origin: center;
    transition: transform 520ms, opacity 520ms;
    opacity: 1;
    background-color: rgb(150, 160, 150);
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
.pic img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0;
}
.pic.active {
  opacity: 1;
  z-index: 3;
}
.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0.45);
    color: #fff;
    font-size: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 9;
}
.prev { left: 8px; }
.next { right: 8px; }
@media (max-width: 520px) {
  .slide { flex-basis: 85%; }
  .nav { width: 36px; height:36px; font-size:16px; }
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(215, 220, 223);
    padding: 150px;
}
h1{
    font-family: "Kapakana", cursive;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 107px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.J{
    padding-left: calc(2vw);
    padding-right: calc(20vw);
    justify-content: center;
    text-justify: center;
}
.E{
    padding-left: calc(20vw);
    padding-right: calc(2vw);
    justify-content: center;
    text-justify: center;
}
.else{
    text-align: center;
    font-size: 70px;
}
.reception{
    text-align: center;
    font-size: 45px;
    font-weight: 5px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Break{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 175, 196);
    color:  rgb(79, 16, 24);
    justify-content: center;
    text-align: center;
    left: 0%;
    right: 0%;
    padding: 1px;
}
.Registry{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 1px;
    align-items: stretch;
}
.Registry img{
    height: 75px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: 10px;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    align-items: center;
}
.reg h4{
    margin-bottom: 0px;
    text-decoration: underline;
}

.Venmo{
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 16, 24);
    color :rgb(153, 175, 196);
    justify-content: center;
    text-align: center;
    left: 0%;
    right: 0%;
    padding: 20px;
}
.Choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.ven{
    width: 33%;
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.vote{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    text-decoration: underline;
}

.gallery{
    display: grid;
    position: relative;
    padding: 1%;
    width: 98%;
    background-color: rgb(153, 175, 196);
    /*grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 16px; /* space between images */
}
.gallery-row{
    display: grid;
    gap: 16px;
}
.gallery-image{
    display: flex;
    position: absolute;
    background-color: rgb(164, 186, 207);
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /*padding: 5%;*/
}
.gallery-image img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    align-items: center;
}
.gallery-image.landscape {
    grid-column: span 2;
}